<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<select id="getList" parameterType="reviewDto" resultType="reviewDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM 
				(SELECT sr_num,user_id,sr_title,sr_content,viewCount,sr_regdate 
				FROM seller_review 
				<choose>
					<when test="sr_title != null and sr_content != null">
						WHERE sr_title LIKE '%'||#{sr_title}||'%' 
						OR sr_content LIKE '%'||#{sr_content}||'%'
					</when>
					<when test="sr_title != null">
						WHERE sr_title LIKE '%'||#{sr_title}||'%'
					</when>
					<when test="user_id != null">
						WHERE user_id LIKE '%'||#{user_id}||'%'
					</when>
				</choose>
				ORDER BY sr_num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" parameterType="reviewDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM seller_review
		<choose>
			<when test="sr_title != null and sr_content != null">
				WHERE sr_title LIKE '%'||#{sr_title}||'%' 
				OR sr_content LIKE '%'||#{sr_content}||'%'
			</when>
			<when test="sr_title != null">
				WHERE sr_title LIKE '%'||#{sr_title}||'%'
			</when>
			<when test="user_id != null">
				WHERE user_id LIKE '%'||#{user_id}||'%'
			</when>
		</choose>	
	</select>	
	
	<insert id="insert" parameterType="reviewDto">
		INSERT INTO seller_review
		(sr_num,user_id,sr_title,sr_content,viewCount,sr_regdate)
		VALUES(seller_review_seq.NEXTVAL, #{user_id}, #{sr_title},
			#{sr_content}, #{viewCount}, SYSDATE)
	</insert>
	<select id="getData" parameterType="int" resultType="reviewDto">
		SELECT result1.*
		FROM
			(SELECT sr_num,user_id,sr_title,sr_content,viewCount,
				TO_CHAR(sr_regdate,'YY.MM.DD HH24:MI') AS regdate,
				LAG(sr_num,1,0) OVER (ORDER BY sr_num DESC) AS prevNum,
				LEAD(sr_num,1,0) OVER (ORDER BY sr_num DESC) AS nextNum
			FROM seller_review) result1
		WHERE sr_num=#{sr_num}
	</select>
	<select id="getData2" parameterType="reviewDto" resultType="reviewDto">
		SELECT result1.*
		FROM
			(SELECT sr_num,user_id,sr_title,sr_content,viewCount,
				TO_CHAR(sr_regdate,'YY.MM.DD HH24:MI') AS regdate,
				LAG(sr_num,1,0) OVER (ORDER BY sr_num DESC) AS prevNum,
				LEAD(sr_num,1,0) OVER (ORDER BY sr_num DESC) AS nextNum
			FROM seller_review
			<choose>
				<when test="sr_title != null and sr_content != null">
					WHERE sr_title LIKE '%'||#{sr_title}||'%' 
					OR sr_content LIKE '%'||#{sr_content}||'%'
				</when>
				<when test="sr_title != null">
					WHERE sr_title LIKE '%'||#{sr_title}||'%'
				</when>
				<when test="user_id != null">
					WHERE user_id LIKE '%'||#{user_id}||'%'
				</when>
			</choose>			
			) result1
		WHERE sr_num=#{sr_num}
	</select>	
	<update id="addViewCount" parameterType="int">
		UPDATE seller_review
		SET viewCount=viewCount+1
		WHERE sr_num=#{sr_num}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM seller_review
		WHERE sr_num=#{sr_num}
	</delete>
	<update id="update" parameterType="reviewDto">
		UPDATE seller_review
		SET sr_title=#{sr_title}, sr_content=#{sr_content}
		WHERE sr_num=#{sr_num}
	</update>	
</mapper>
